* {
	box-sizing: border-box;
}

body {
	background-color: blanchedalmond;
	padding: 0;
	margin: 0;
}

.wrapper {
	background-color: aliceblue;
	max-width: 60%;
	padding: 20px;
	margin: 100px auto;
}

.title {
	font-size: 30px;
	text-align: center;
	margin: 0 0 20px 0;
}

.search {
	width: 100%;
}

.search__input {
	width: 100%;
	font-size: 18px;
	border: 1px solid gainsboro;
	border-radius: 0;
	padding: 10px 12px;
	box-shadow: none;
	margin: 0 0 5px 0;
}

.search__input:hover,
.search__input:focus,
.search__input:focus-visible {
	outline: 0;
}

.search__submit {
	width: 100%;
	background-color: brown;
	color: whitesmoke;
	font-size: 16px;
	border: 0;
	border-radius: 0;
	padding: 10px 12px;
	box-shadow: none;
	pointer-events: all;
	cursor: pointer;
}

.search__submit[disabled] {
	pointer-events: none;
	opacity: 0.5;
}

.recipes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.recipe {
	display: grid;
	align-content: flex-start;
	padding: 20px;
}

.recipe__image {
	margin: 0 auto 15px auto;
}

.recipe__name {
	font-size: 20px;
	margin: 0 0 5px 0;
}

.recipe__tagline,
.recipe__year {
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 5px 0;
}

.recipe__year {
	margin: 0 0 15px 0;
}

.recipe__description {
	font-size: 16px;
	margin: 0;
}
